.body{
  background-color: #ffaebd;
}
.body p{
  font-family: monospace;
}
.title {
  font-size: 6rem;
  font-family: monospace;
  margin: auto;
}
.portfolio {
  display: flex;
  margin-left: 5rem;
}
.item {
  max-width: 30rem;
}
.epic {
  max-width: 30rem;
}

.practice {
  padding-top: 10rem;
  margin-top: 50rem;
}
