.body{
  background:#ffaebd;
}
.body p{
  font-family: monospace;
}
.title {
  font-size: 6rem;
  font-family: monospace;
  margin: auto;
}
.portfolio {
  display: flex;
  margin-left: 5rem;
}
.item {
  max-width: 30rem;
}
  
